.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 8rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 0rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.header__image {
  position: relative;
  isolation: isolate;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.header__image::before {
  position: absolute;
  content: '';
  width: 100%;
  aspect-ratio: 1;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  opacity: .1;
  width: 300px;
  z-index: -1;
}

.header__image img {
  /* display: block; */
  min-width: 300px;
  margin-inline: auto;
}

.header__image__card {
  position: absolute;
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--black-color);
  background-color: var(--white-color);
  white-space: nowrap;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
  z-index: -1;
}

.header__image__card span {
font-size: 1.5rem;
font-weight: 600;
color: var(--primary-color);
}

.header__image__card-1 {
top: 25%;
left: 5rem;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
}
.header__image__card-2 {
top: 10%;
right: 2rem;
font-size: 1.5rem;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
}
.header__image__card-3 {
top: 92%;
left: 10rem;
font-size: 1.9rem;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
}
/* .header__image__card-4 {
top: 70%;
right: 0;
transform: translateY(-60%);
-webkit-transform: translateY(-60%);
-moz-transform: translateY(-60%);
-ms-transform: translateY(-60%);
-o-transform: translateY(-60%);
} */
.header__container {
/* display: flex;
justify-content: center; */
grid-template-columns: repeat(2, 1fr);
align-items: center;
}
.header__image {
/* grid-area: 1/2/2/3; */
}



//* === Hero === */
.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 7rem;
  padding-inline: 1rem;
  display: grid;
  gap: 0rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.header__image {
  position: relative;
  isolation: isolate;
}
.header__image::before {
  position: absolute;
  content: '';
  aspect-ratio: 1;
  top: 49%;
  left: 50%;
  background-color: var(--primary-color);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  opacity: .1;
  width: 400px;
  z-index: -1;
}
.header__image img {
  max-width: 400px;
  max-height: 400px;
}

.header__image__card {
  position: absolute;
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--black-color);
  background-color: var(--white-color);
  white-space: nowrap;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
  z-index: -1;
}
.header__image__card span {
  color: var(--primary-color);
}
.header__image__card-1 {
  top: 25%;
  left: 7rem;
  font-size: 2.8rem;
}
.header__image__card-2 {
  top: 30%;
  right: -3%;
  font-size: 2rem;
}
.header__image__card-3 {
  top: 94%;
  left: 10rem;
  font-size: 4rem;
}

.header__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}