:root {
  --primary-color: #15b392;
  --secondary-color: rgba(247, 244, 244, 0.242);
  --white-color: #fff;
  --black-color: #000;
  --transition-duration: 0.2s;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar ul div,
.navbar ul li {
  display: inline-block;
}

.navbar .navbar-logo a {
  color: var(--black-color);
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo a span {
  color: var(--primary-color);
}

.navbar .navbar-nav li a {
  color: var(--black-color);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}

.navbar .navbar-nav li a:hover {
  color: var(--primary-color);
}

.navbar .navbar-nav li a::after {
  content: "";
  display: block;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: var(--transition-duration) linear;
  -webkit-transition: var(--transition-duration) linear;
  -moz-transition: var(--transition-duration) linear;
  -ms-transition: var(--transition-duration) linear;
  -o-transition: var(--transition-duration) linear;
}

.navbar .navbar-nav li a::after {
  border-bottom: 0.1rem solid var(--primary-color);
}

.navbar .navbar-nav li a:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.navbar .navbar-extra {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-extra li a {
  color: var(--black-color);
  margin: 0 0.5rem;
  transition: var(--transition-duration);
}

.navbar .navbar-extra li a:hover {
  color: var(--primary-color);
}

.navbar .navbar-extra li a#list {
  display: none;
}

/* Hero */
.header__image img {
  width: 1000px;
  height: 1000px;
}












/* === Media Queries === */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* Navbar */
  .navbar ul {
    /* background-color: var(--secondary-color); */
    background-color: white;
    z-index: 999;
  }

  .navbar .navbar-extra li a#list {
    display: inline-block;
  }

  .navbar .navbar-nav {
    background-color: var(--secondary-color);
    position: absolute;
    top: 100%;
    width: 14rem;
    right: -100%;
    height: 100vh;
    transition: var(--transition-duration);
    -webkit-transition: var(--transition-duration);
    -moz-transition: var(--transition-duration);
    -ms-transition: var(--transition-duration);
    -o-transition: var(--transition-duration);
    text-align: right;
  }

  .navbar .navbar-nav.active {
    right: 0%;
  }

  .navbar .navbar-nav li {
    color: var(--black-color);
    display: block;
    padding-right: 4rem;
    margin-bottom: 3rem;
    /* margin-bottom: 2rem; */
    /* font-size: 2rem; */
  }
  .navbar .navbar-nav li:first-child
  {
    margin-top: 1rem;
  }

  /* Hero */

  .header__container {
    max-width: var(--max-width);
    margin: auto;
    padding-block: 7rem;
    padding-inline: 1rem;
    display: grid;
    gap: 0rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }

  .header__image {
    position: relative;
    isolation: isolate;
  }

  .header__image::before {
    position: absolute;
    content: "";
    aspect-ratio: 1;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    opacity: 0.1;
    width: 700px;
    z-index: -1;
  }

  .header__image img {
    max-width: 700px;
    max-height: 700px;
  }

  .header__image__card {
    position: absolute;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--black-color);
    background-color: var(--white-color);
    white-space: nowrap;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 1;
  }
  .header__image__card span {
    color: var(--primary-color);
  }
  .header__image__card-1 {
    top: 25%;
    left: 10rem;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .header__image__card-2 {
    top: 32%;
    right: 0.9rem;
    font-size: 3rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .header__image__card-3 {
    top: 95%;
    left: 19rem;
    font-size: 5rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  /* Navbar */
  .navbar .navbar-nav {
    width: 12rem;
  }
  .navbar .navbar-nav li {
    padding-right: 2.4rem;
  }

  /* === Hero === */
  .header__container {
    max-width: var(--max-width);
    margin: auto;
    padding-block: 7rem;
    padding-inline: 1rem;
    display: grid;
    gap: 0rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }

  .header__image {
    position: relative;
    isolation: isolate;
  }
  .header__image::before {
    position: absolute;
    content: "";
    aspect-ratio: 1;
    top: 49%;
    left: 50%;
    background-color: var(--primary-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    opacity: 0.1;
    width: 400px;
    z-index: -1;
  }
  .header__image img {
    max-width: 400px;
    max-height: 400px;
  }

  .header__image__card {
    position: absolute;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--black-color);
    background-color: var(--white-color);
    white-space: nowrap;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 1;
  }
  .header__image__card span {
    color: var(--primary-color);
  }
  .header__image__card-1 {
    top: 25%;
    left: 7rem;
    font-size: 2.8rem;
  }
  .header__image__card-2 {
    top: 30%;
    right: -3%;
    font-size: 2rem;
  }
  .header__image__card-3 {
    top: 94%;
    left: 10rem;
    font-size: 4rem;
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
