:root {
  --transitionDuration: .2s;
  --mainColor: #daa138;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroundColor);
  min-height: 1000px;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
.big-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}


/* --> Nav */
nav.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  background-color: var(--backgroundColor);
}
nav .logo-n-links {
  display: flex;
  justify-content: start;
  align-items: baseline;
  width: 82%;
  gap: 2rem;
}
nav .nav-logo a span {
  color: var(--mainColor);
}
nav .nav-logo a {
  color: var(--light-one);
  font-size: 2rem;
  font-weight: 700;
  /* font-style: italic; */
  color: var(--lightOne);
  transition: var(--transitionDuration);
  -webkit-transition: var(--transitionDuration);
  -moz-transition: var(--transitionDuration);
  -ms-transition: var(--transitionDuration);
  -o-transition: var(--transitionDuration);
}
nav .nav-logo a:hover {
  color: var(--darkOne);
}
nav .nav-links li a {
  font-weight: 700;
  color: var(--lightOne);
  margin-left: 1rem;
  transition: var(--transitionDuration);
  -webkit-transition: var(--transitionDuration);
  -moz-transition: var(--transitionDuration);
  -ms-transition: var(--transitionDuration);
  -o-transition: var(--transitionDuration);
}
nav .nav-links li a:hover {
  color: var(--darkOne);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
nav .nav-extra {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav .nav-extra ul li a {
  font-size: 1.3rem;
  color: var(--lightOne);
  font-weight: 700;
  -webkit-text-stroke: 1px;
}
nav .nav-extra ul li a:hover {
  color: var(--darkOne);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
nav .nav-extra #list {
  display: none;
}


/* --> Landing Page */
.landing-page.container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 8rem;
  position: relative;
  z-index: 1;
}
.landing-page .left {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
}
.landing-page .right {
  flex-grow: 2;
  flex-shrink: 1;
  display: flex;
  margin-right: -8%;
  margin-top: -8%;
  justify-content: start;
}
.landing-page .left .big-title {
  font-size: 2vw;
  color: var(--lightOne);
}
.landing-page .left .big-title h1 span {
  display: inline-block;
  margin-top: -20px;
  color: var(--lightOne);
  position: relative;
  font-size: 6vw;
}
.landing-page .left .big-title h1 span::before {
  content: 'Sunnah';
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: var(--mainColor);
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}
.landing-page .left .big-title h1 span:hover::before {
  width: 100%;
}
.landing-page .left .text a {
  display: inline-block;
  text-align: left;
  color: var(--lightOne);
  font-size: 2vw;
  margin: 1.9rem 0 2.5rem;
  min-width: 25%;
  line-height: 2.3;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.landing-page .left .text a:hover {
  color: var(--darkOne);
}
.landing-page .left .text span {
  display: block;
  color: var(--lightOne);
}
.landing-page .left .cta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.landing-page .left .cta a.btn {
  font-size: 2vw;
  background-color: none;
  border: 2px solid var(--lightOne);
  padding: 12px 20px;
  min-width: max-content;
  transition: color .4s linear;
  position: relative;
  color: var(--lightOne);
}
.landing-page .left .cta a.btn:hover {
  color: var(--darkOne);
}
.landing-page .left .cta a.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--lightOne);
  z-index: -1;
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.landing-page .left .cta a.btn:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}


.landing-page .right img {
  width: 100%;
  height: 100%;
  min-width: 700px;
  min-height: 700px;
  max-width: 1000px;
  max-height: 1000px;
}





/* =====> MEDIA QUERIES */
@media screen and (min-width: 2000px) {
  .landing-page .right img {
    max-width: 2000px;
    max-height: 1000px;
  }
}


@media screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}


@media screen and (max-width: 950px) {
  html {
    font-size: 90%;
  }

  /* --> Nav */
  nav .nav-links {
    margin-bottom: 200px;
    background-color:var(--mainColor);
    position: fixed;
    height: max-content;
    width: 100%;
    margin-left: -3rem;
    top: -6000px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transitionDuration);
    -webkit-transition: var(--transitionDuration);
    -moz-transition: var(--transitionDuration);
    -ms-transition: var(--transitionDuration);
    -o-transition: var(--transitionDuration);
    border-bottom: 2px solid var(--lightOne);
  }
  nav .nav-links.active {
    top: 0px;
  }
  nav .nav-links li {
    display: block;
    margin-block: 70px;
    text-align: center;
  }
  nav .nav-extra #list {
    display: inline-block;
  }


  /* Landing Page */
  .landing-page.container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vh;
  }
  .landing-page .right img {
    width: 1vw;
    height: 1vw;
    max-width: 680px;
    max-height: 680px;
    display: block;
    margin-right: 25px;
  }
  .landing-page .left {
    text-align: center;
  }
  .landing-page .left .text a {
    text-align: center;
  }
  .cta {
    margin-inline: auto;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    align-items: center;
  }

  /* --> Nav */
  nav .nav-links {
    width: 100%;
  }

  .landing-page .right img {
    width: 1vw;
    height: 1vw;
    min-width: 480px;
    min-height: 480px;
    margin-right: 20px;
  }
}



@media screen and (max-width: 340px) {
  html {
    font-size: 50%;
  }
  
  .landing-page .right img {
    margin-bottom: 200px;
    width: 1vw;
    height: 1vw;
    min-width: 400px;
    min-height: 400px;
  }
}


