:root {
  --transitionDuration: .5s;
  --titleColor: #D48E5F;
  --color1: #f8fafc;
  --color2: #64748b;
  --color3: #0f172a;
}

.dark-mode {
  --color1: #0f172a;
  --color2: #818c9f;
  --color3: #eaeaea;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color1);
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
.big-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}


/* --> Nav */
nav.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  background-color: var(--color1);
}
nav .logo-n-links {
  display: flex;
  justify-content: start;
  align-items: baseline;
  width: 82%;
  gap: 2rem;
}
nav .nav-logo a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color2);
  transition: var(--transitionDuration);
  -webkit-transition: var(--transitionDuration);
  -moz-transition: var(--transitionDuration);
  -ms-transition: var(--transitionDuration);
  -o-transition: var(--transitionDuration);
}
nav .nav-logo a:hover {
  color: var(--color3);
}
nav .nav-logo a span {
  color: var(--titleColor);
}
nav .nav-links li a {
  font-weight: 700;
  color: var(--color2);
  margin-left: 1rem;
  transition: var(--transitionDuration);
  -webkit-transition: var(--transitionDuration);
  -moz-transition: var(--transitionDuration);
  -ms-transition: var(--transitionDuration);
  -o-transition: var(--transitionDuration);
}
nav .nav-links li a:hover {
  color: var(--color3);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
nav .nav-extra {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99999;
}
nav .nav-extra ul li a,
nav .nav-extra ul li button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 1.3rem;
  color: var(--color2);
  -webkit-text-stroke: 1px;
  transition: var(--transitionDuration);
  -webkit-transition: var(--transitionDuration);
  -moz-transition: var(--transitionDuration);
  -ms-transition: var(--transitionDuration);
  -o-transition: var(--transitionDuration);
}
nav .nav-extra ul li a:hover,
nav .nav-extra ul li button:hover {
  cursor: pointer;
  color: var(--color3);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
#theme-switch i:last-child {
  display: none;
}
.dark-mode #theme-switch i:first-child {
  display: none;
}
.dark-mode #theme-switch i:last-child {
  display: inline-block;
}
nav .nav-extra #list {
  display: none;
}


/* --> Landing Page */
.landing-page.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  position: relative;
  z-index: 1;
}
.landing-page .left {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
}
.landing-page .left .big-title {
  font-size: 2vw;
  color: var(--color2);
}
.landing-page .left .big-title h1 span {
  display: inline-block;
  margin-top: -8.5rem;
  position: relative;
  font-size: 6vw;
}
.landing-page .left .big-title h1 span::before {
  content: 'sunnah';
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: var(--titleColor);
  transition: var(--transitionDuration) ease-in-out;
  -webkit-transition: var(--transitionDuration) ease-in-out;
  -moz-transition: var(--transitionDuration) ease-in-out;
  -ms-transition: var(--transitionDuration) ease-in-out;
  -o-transition: var(--transitionDuration) ease-in-out;
}
.landing-page .left .big-title h1 span:hover::before {
  width: 100%;
}
.landing-page .left .text span {
  display: block;
  color: var(--color2);
}
.landing-page .left .text a {
  display: inline-block;
  text-align: left;
  color: var(--color2);
  font-size: 2vw;
  margin: 1.9rem 0 2.5rem;
  min-width: 25%;
  line-height: 2.3;
  transition: var(--transitionDuration);
  -webkit-transition: var(--transitionDuration);
  -moz-transition: var(--transitionDuration);
  -ms-transition: var(--transitionDuration);
  -o-transition: var(--transitionDuration);
}
.landing-page .left .text a:hover {
  color: var(--color3);
}
.landing-page .left .cta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.landing-page .left .cta a.btn {
  font-size: 2vw;
  background-color: none;
  border: 2px solid var(--color2);
  padding: 12px 20px;
  min-width: max-content;
  position: relative;
  color: var(--color2);
  transition: color var(--transitionDuration) linear;
  -webkit-transition: color var(--transitionDuration) linear;
  -moz-transition: color var(--transitionDuration) linear;
  -ms-transition: color var(--transitionDuration) linear;
  -o-transition: color var(--transitionDuration) linear;
}
.landing-page .left .cta a.btn:hover {
  color: var(--color1);
}
.landing-page .left .cta a.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color2);
  z-index: -1;
  transition: transform var(--transitionDuration);
  -webkit-transition: transform var(--transitionDuration);
  -moz-transition: transform var(--transitionDuration);
  -ms-transition: transform var(--transitionDuration);
  -o-transition: transform var(--transitionDuration);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.landing-page .left .cta a.btn:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.landing-page .right {
  flex-grow: 2;
  flex-shrink: 1;
  display: flex;
  margin-top: -8%;
  justify-content: start;
}
.landing-page .right img {
  width: 100%;
  height: 100%;
  min-width: 700px;
  min-height: 700px;
  max-width: 1000px;
  max-height: 1000px;
  animation: movingImage 2.5s linear infinite;
  -webkit-animation: movingImage 2.5s linear infinite;
}
.header__container {
  max-width: 100%;
  /* margin: auto; */
  padding-block: 8rem 2rem;
  /* padding-inline: 1rem; */
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
  /* margin-right: 5.5rem; */
}
.header__image {
  position: relative;
  isolation: isolate;
}
.header__image::before {
  position: absolute;
  content: '';
  width: 100%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  background-color: var(--color2);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation: movingBg 2.5s linear infinite;
  -webkit-animation: movingBg 2.5s linear infinite;
  

}
.header__image img {
  margin-inline: auto;
}
.header__image__card {
  position: absolute;
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  /* font-size: 1rem; */
  font-weight: 500;
  color: var(--color2);
  background-color: var(--color1);
  white-space: nowrap;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
  z-index: -1;
}
.header__image__card span {
  /* font-size: 1.5rem; */
  /* font-weight: 600; */
  /* color: white !important; */
}
.header__image__card-1 {
  top: 18%;
  z-index: 2;
  left: 26rem;
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  font-size: 41px;
  animation: moving-card-1 2.5s linear infinite;
  -webkit-animation: moving-card-1 2.5s linear infinite;
}
.header__image__card-2 {
  top: 33%;
  z-index: 2;
  left: 9rem;
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  font-size: 37px;
  animation: moving-card-2 2.5s linear infinite;
  -webkit-animation: moving-card-2 2.5s linear infinite;
}
.header__container {
  /* padding-block: 2rem; */
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.header__image {
  grid-area: 1/2;
}




/* Footer */
footer {
  position: relative;
  width: 100%;
  background-color: #64748B;
  min-height: 160px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
footer .waves .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--color2);
  background: url('../images/wave.png');
  background-size: 1000px 110px;
  background-repeat: round transparent;
  z-index: 801;
  opacity: 1;
  bottom: 0;
  animation: animateWave1 1s linear infinite;
  -webkit-animation: animateWave1 1s linear infinite;
}
/* footer .waves .wave.wave-1 {
  z-index: 801;
  opacity: 1;
  bottom: 0;
  animation: animateWave1 1s linear infinite;
  -webkit-animation: animateWave1 1s linear infinite;
} */
/* footer .waves .wave.wave-2 {
  z-index: 802;
  opacity: 1;
  bottom: 10px;
  animation: animateWave 3s linear infinite;
  -webkit-animation: animateWave 3s linear infinite;
}
footer .waves .wave.wave-3 {
  z-index: 803;
  opacity: 1;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
  -webkit-animation: animateWave 3s linear infinite;
}
footer .waves .wave.wave-4 {
  z-index: 804;
  opacity: 1;
  bottom: 20px;
  animation: animateWave 3s linear infinite;
  -webkit-animation: animateWave 3s linear infinite;
} */

footer .social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .social-icon li a {
  color: var(--color2);
  font-size: 1.2rem;
  margin: 0 10px;
  display: inline-block;
  transition: var(--transitionDuration);
  -webkit-transition: var(--transitionDuration);
  -moz-transition: var(--transitionDuration);
  -ms-transition: var(--transitionDuration);
  -o-transition: var(--transitionDuration);
}
footer .social-icon li a:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
footer .social-icon li a {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color1);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* border: 2px solid var(--backgroundColor); */
}
footer .copyright {
  color: var(--color1);
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 1.1rem;
}

/* ==> Animations */
@keyframes animateWave1 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes movingImage {
  0% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(-5px, 5px);
  }
}
@keyframes moving-card-1 {
  0% {
    transform: translate(10px, 25px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(10px, 25px);
  }
}
@keyframes moving-card-2 {
  0% {
    transform: translate(-20px, 6px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(-20px, 6px);
  }
}

@keyframes movingBg {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -46%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}



/* ==> MEDIA QUERIES */
@media screen and (min-width: 2000px) {
  .landing-page .right img {
    max-width: 2000px;
    max-height: 1000px;
  }
}


@media screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}


@media screen and (max-width: 950px) {
  html {
    font-size: 90%;
  }

  /* --> Nav */
  nav .nav-links {
    z-index: 9999;
    margin-bottom: 200px;
    background-color:var(--color1);
    position: fixed;
    height: max-content;
    width: 100%;
    margin-left: -3rem;
    top: -6000px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    border-bottom: 4px solid var(--color2);
}
  nav .nav-links.active {
    top: 0px;
  }
  nav .nav-links li {
    display: block;
    margin-block: 70px;
    text-align: center;
  }
  nav .nav-extra #list {
    display: inline-block;
  }


  /* Landing Page */
  .landing-page.container {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 5vh;
    margin-top: 20%;
  }
  .landing-page .left .big-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing-page .left .big-title h1 {
    font-size: 1.5rem;
  }
  .landing-page .left .big-title h1 span {
    margin-top: -40px;
    font-size: 3rem;
  }
  .landing-page .left .text a {
    text-align: center;
    font-size: 1rem;
  }
  .landing-page .left .cta {
    margin-inline: auto;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    align-items: center;
    font-size: 1rem;
  }
  .landing-page .left .cta a.btn {
    font-size: 1rem;
  }
  .landing-page .right img {
    width: 1vw;
    height: 1vw;
    max-width: 680px;
    max-height: 680px;
  }
  .header__container {
    margin-right: 4vw;
  }
  .header__image__card-1 {
    top: 15%;
    z-index: 2;
    left: 17rem;
    /* transform: translate(-50%, -100%); */
    font-size: 2rem;
  }
  .header__image__card-2 {
    top: 32%;
    z-index: 2;
    left: 6rem;
    font-size: 1.5rem;
    /* transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
  }

  /* --> Nav */
  nav .nav-links {
    width: 100%;
  }

  .landing-page .right img {
    width: 1vw;
    height: 1vw;
    min-width: 480px;
    min-height: 480px;
    margin-right: 20px;
  }
}



@media screen and (max-width: 450px) {
  nav.container {
    justify-content: start;
  } 
  nav .nav-logo a {
    font-size: 5vw;
  }
  nav .nav-extra ul li a,
  nav .nav-extra ul li button {
    font-size: 3vw;
  }
}